@model IEnumerable<SampleMVCSite.Models.Customer>

@{
    ViewBag.Title = "Customers Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="services">
    <div class="container">
        <div class="box first">
            <h3>Customer Listing</h3>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Customer Listing</div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Town)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostalCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HomePhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BusinessPhone)
                        </th>
                        <th>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Town)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostalCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HomePhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessPhone)
                            </td>
                            <td></td>
                            <td width="282px">
                            </td>
                        </tr>
                    }
                </table>
            </div>


        </div>
    </div>
</section>