@model IEnumerable<SampleMVCSite.Models.BasketItem>

@{
    ViewBag.Title = "Basket Summary";
}

<section id="services">
    <div class="container">
        <div class="box first">
            <h2>Basket Summary</h2>

            <table class="table">
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Quantity == 0) { continue; }
                    <tr>
                        <td style ="width:15%">
                            <img style="width:150px" src="@item.Product.ImageUrl" alt="@item.Product.ProductDescription" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit Quantity", "EditBasketItemQuantity", new { id = item.BasketItemID }, "Products") |
                            @Html.ActionLink("Delete", "DeleteBasketItem", new { id = item.BasketItemID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>