@model IEnumerable<SampleMVCSite.Models.Product>

@{
    ViewBag.Title = "Products Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="services">
    <div class="container">
        <div class="box first">
            <h2>Products</h2>

            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-large" })
            </p>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Products</div>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CostPrice)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CostPrice)
                            </td>
                            <td>
                                <i class="icon-pencil icon-menu"></i>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "actionLinkEdit" }) &nbsp;
                                <i class="icon-info icon-menu"></i>
                                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "actionLinkDetails" })
                                <i class="icon-trash icon-menu"></i>
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "actionLinkDelete", onclick = "return confirm('Are you sure you wish to delete this record?');" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>