@model IEnumerable<SampleMVCSite.Models.Product>

@{
    ViewBag.Title = "ProductListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="services">
    <div class="container">
        <div class="box first">
            <h3>Manage Product Listing</h3>
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-large" })
            </p>
            <div class="col-sm-12">
                <ul class="thumbnail-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="">

                            <h4 class="">@Html.DisplayFor(modelItem => item.ProductDescription)</h4>
                            <div class="product-price">
                                <span class="cut-price">CAD$ @Html.DisplayFor(modelItem => item.Price)0</span>
                                <span class="normal-price">CAD$ @Html.DisplayFor(modelItem => item.CostPrice)</span>

                            </div>
                            @*@Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-primary btn-large" })*@
                            <i class="icon-pencil icon-menu"></i>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "actionLinkEdit" }) &nbsp;
                            <i class="icon-info icon-menu"></i>
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "actionLinkDetails" })
                            <i class="icon-trash icon-menu"></i>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "actionLinkDelete", onclick = "return confirm('Are you sure you wish to delete this record?');" })
                        </li>
                    }
                </ul>
            </div>
        </div>
        </div>
</section>