<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pedro Amantea Management WebSite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="~"></a>*@
                    @Html.ActionLink(" ", "Index", "Home", new object { }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="~/Products/ListingForUsers">Products</a></li>
                        <li><a href="~/Customer/ListingForUsers">Customer</a></li>
                        <li><a href="~/Orders/ListingForUsers">Orders</a></li>
                        <li><a href="~/Products/BasketSummary">Basket</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Products/Index">Products</a></li>
                                <li><a href="~/Customer/Index">Customers</a></li>
                                <li><a href="~/Orders/Index">Orders</a></li>
                            </ul>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <p class="text-muted">Pedro Amantea &copy; 2016</p>
                </div>
                <div class="col-sm-7">
                    <div class="center">
                        <span style="border-right:solid 2px gray;padding-right:20px;font-weight:bolder;"><a href="~/Home/About">ABOUT</a> &nbsp;</span>
                        <span style="border-right:solid 2px gray;padding-right:20px;padding-left:20px;font-weight:bolder;"><a href="~/Home/Contact">CONTACT</a></span>
                        <span style="padding-left:20px;font-weight:bolder;"><a href="~/Home">HOME</a></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
